node_modules/
auth.json
.env
.env.*
!.env.example
!**/.env.example
!**/.env.staging.example
serviceAccount*.json
.firebase/
timeline-scele-auth/
data/html/
data/text/
data/scheduler.log
firebase-debug.log
firestore-debug.log
